# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Ignore everything in sfx/
sfx/*

# But NOT subfolders
!sfx/*/

# And NOT the sfx folder itself
!sfx/

# (Optional) Keep a placeholder file so the folders show up in git
sfx/.gitkeep

*.mp3